*{
    margin: 0px;
}

body {
    background-color: black;
    color: gold;
    font-family: "Edu VIC WA NT Hand Pre", cursive;
    margin: 0px;
}

header{
     font-family: "Permanent Marker", cursive;
     font-size: 60px;
     border-bottom: dotted 8px magenta;
     /*padding-bottom: 50px;*/
     padding-bottom: 50px;
     color: greenyellow ;
     text-align: center;
}

h1 {
    font-size: 30px;
}

p{
    font-size: 20px;
}

section {
    background-image: url("ceu.png");
    background-size: cover;
    background-position: center;
    padding-bottom: 50px;
    padding-top: 50px;

    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 10%;
}